<!DOCTYPE html>
<html>
    <head>
        <title>Shantytown Soundboard 2.0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

		<!-- Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/soundboard.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.2.custom.css'}" />

		<!-- Scripts -->
		<!-- jQuery -->
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.metadata.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.cookie.js'}" type="text/javascript" charset="utf-8"></script>
		
		<!-- splitter -->
        <script src="@{'/public/javascripts/jquery.splitter.js'}" type="text/javascript" charset="utf-8"></script>

		<!-- App -->
        <script src="@{'/public/javascripts/soundboard.js'}" type="text/javascript" charset="utf-8"></script>

		#{if user}<script type="text/javascript" charset="utf-8">var _username="${user.username}"</script>#{/if}
    </head>
    <body>
		<div id="main">
    	<div id="header" class="title title-border-bottom#{if !user} initfadein#{/if}">
		<div id="headerLeft">
		Shantytown Soundboard
		</div>
		<div id="headerRight">
    	#{if user}
		${user.username} | <a href="@{Auth.logout()}">Logout</a>
		#{/if}
		#{else}
		<a href="#" id="loginButton">Login</a>
		#{/else}
		</div>
		<div class="clear"></div>
		<div id="managerContainer">
		<div id="managerSlider" class="ui-resizable-handle ui-resizable-n" style="-moz-user-select: none;"></div>
		<div id="manager">
		Hello
		</div>
		</div>
    	</div> <!-- header -->
		<div id="content">
		<div id="sounds">
		</div>
		#{if user}
		<div id="addSound">
			#{form @Sounds.addSounds(), enctype:"multipart/form-data" }
				<input type="file" name="soundFiles" multiple />
				<input type="submit" />
			#{/form}
		</div>
		#{/if}
		</div> <!-- content -->		
		
		<!-- footer - contains remote stuff -->

		<div id="footer"#{if !user} class="initfadein"#{/if}>
		<div id="remoteContainer">
		<div id="remoteTitle" class="title title-border-top title-border-bottom">#{if user}Connected as ${user.username}#{/if}#{else}Not connected#{/else}</div>
		<div id="remote">
		<div id="users">dfsafdsafdsa </div>
		<div id="events"> fsdafdsafdsafd</div>
		</div>
		</div>
		<div id="footerControls" class="title title-border-top">
		<form>
		<fieldset>
		<input type="checkbox" id="muteOption" /> <span>Mute</span>
		<input type="checkbox" id="playRemoteOption"#{ifnot user} disabled="disabled"#{/ifnot} /> <span#{ifnot user} class="disabled-label"#{/ifnot}>Play Remote</span>
		</fieldset>
		</form>
		<a href="#" id="remoteToggle" class="ui-icon ui-icon-plusthick"></a>
		</div>
		</div> <!-- footer -->
		</div> <!-- main -->
		#{include "Board/login-snippet.html" /}
    </body>
</html>
