<!DOCTYPE html>
<html>
    <head>
        <title>Shantytown Soundboard 2.0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

		<!-- Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/soundboard.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/ui-darkness/jquery-ui-1.8.2.custom.css'}" />

		<!-- Scripts -->
		<!-- jQuery -->
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.metadata.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.cookie.js'}" type="text/javascript" charset="utf-8"></script>
		
		<!-- splitter -->
        <script src="@{'/public/javascripts/jquery.splitter.js'}" type="text/javascript" charset="utf-8"></script>

		<!-- App -->
        <script src="@{'/public/javascripts/soundboard.js'}" type="text/javascript" charset="utf-8"></script>

		#{if user}<script type="text/javascript">var _username="${user.username}"</script>#{/if}
    </head>
    <body>
		<div id="sb-main">
    	<header class="title-border-bottom ui-helper-clearfix ui-corner-bottom ui-widget-header" style="border-width: 0px;">
		<div id="sb-header-left" class="sb-title">
		<div class="sb-title-image"></div>
		<div class="sb-title-text">Shantytown Soundboard</div>
		</div>
		<div id="sb-header-right">
		<div>
    	#{if user}
		${user.username} | <a href="@{Auth.logout()}">Logout</a>
		#{/if}
		#{else}
		<a href="#" id="sb-login-button">Login</a>
		#{/else}
		</div>
		</div> <!-- sb-header-right -->
		<ul class="sb-toolbar ui-corner-all" style="background-color: #FFFFFF;">
		<li><input type="checkbox" id="sb-header-toolbar-btn-volume" title="Play sounds" /><label for="sb-header-toolbar-btn-volume">Play sounds</label></li> 
		<li><input type="checkbox" id="sb-header-toolbar-btn-remote" title="DistribuPlay™" /><label for="sb-header-toolbar-btn-remote">DistribuPlay™</label></li>
		<li><a href="#" id="sb-header-toolbar-btn-add" title="Add...">Add...</a></li>
		</ul> <!-- sb-header-toolbar -->
    	</header> <!-- sb-header -->
		<div id="sb-content">
		<div id="sounds">
		</div>
		#{if user}
		<div id="addSound">
			#{form @Sounds.addSounds(), enctype:"multipart/form-data" }
				<input type="file" name="soundFiles" multiple />
				<input type="submit" />
			#{/form}
		</div>
		#{/if}
		</div> <!-- sb-content -->		
		
		<!-- footer - contains remote stuff -->

		<div id="sb-footer"#{if !user} class="initfadein"#{/if}>
		<div id="footerControls" class="title title-border-top">
		<form>
		<fieldset>
		<input type="checkbox" id="muteOption" /> <span>Mute</span>
		<input type="checkbox" id="playRemoteOption"#{ifnot user} disabled="disabled"#{/ifnot} /> <span#{ifnot user} class="disabled-label"#{/ifnot}>Play Remote</span>
		</fieldset>
		</form>
		</div>
		</div> <!-- sb-footer -->
		</div> <!-- sb-main -->
		#{include "Board/login-snippet.html" /}
    </body>
</html>
