<div id="sb-login">
	<h3>
	Without logging in, you can only play locally.
	</h3> 
	<div id="sb-login-tabs">
		<ul>
			<li><a href="#sb-login-tabs-1">Existing user</a></li>
			<li><a href="#sb-login-tabs-2">New user</a></li>
		</ul>
		<div id="sb-login-tabs-1">
			#{form @Auth.login(), id:'sb-login-form' }
				<fieldset>
         			<div id="sb-login-error-box" class="ui-widget ui-state-error ui-corner-all sb-validation-box">
         				<span class="ui-icon ui-icon-alert sb-validation-icon"></span>
         				<span class="sb-validation-text"></span>
         			</div>
      				<p>
						<label class="sb-login-label">Username</label>
						<input type="text" name="username" required="required" />
					</p>
      				<p>
         				<label class="sb-login-label">Password</label>
         				<input type="password" name="password" required="required" />
      				</p>
      				<p>
      					<label>Remember me</label>
      					<input type="checkbox" name="remember"/>   
	  				</p>
      				<input type="submit" value="Login" />
				</fieldset>
			#{/form}
		</div>
		<div id="sb-login-tabs-2">
			#{form @Auth.createUser() , id:'sb-create-user-form' }
				<fieldset>
         			<div id="sb-create-user-error-box" class="ui-widget ui-state-error ui-corner-all sb-validation-box">
         				<span class="ui-icon ui-icon-alert sb-validation-icon"></span>
         				<span class="sb-validation-text"></span>
         			</div>
      				<p>
						<label class="sb-login-label">Username</label>
						<input type="text" name="username" required="required" />
					</p>
      				<p>
         				<label class="sb-login-label">Password</label>
         				<input type="password" name="password" required="required" />
      				</p>
      				<p>
         				<label class="sb-login-label">Confirm</label>
         				<input type="password" name="passwordConfirm" required="required" />
      				</p>
      				<p>
      					<label>Remember me</label>
      					<input type="checkbox" name="remember"/>   
	  				</p>
      				<input type="submit" value="Create" />
				</fieldset>	
			#{/form}
		</div>
	</div>
</div>
