
fieldset {
	border-width: 0em;
	padding: 0em;
	margin: 0em;
}

.sb-disabled-label {
	color: #aaa;
}

.sb-validation-box { padding: 0.6em; font-size: 1.5em; font-weight: bold; display: none; }
.sb-validation-icon { float: left; margin-right: 0.3em; }

ul.sb-toolbar { list-style-type: none; margin: 0em; position: relative;	padding: 0.5em; float: left; }
ul.sb-toolbar li { display: inline-block; }

html, body {	
	height: 100%;
	padding: 0em;
	margin: 0em;
}

body {
	overflow: hidden;
	background: #333333 url(../images/background.png) 0px 0px repeat-x; 
	padding: 0px 30px;
	font: 10px Segoe UI, Arial, sans-serif;
}

#sb-main {
	height: 100%;
	position: relative;
	background-color: #fff;
}

header {
	position: relative;
	color: #fff;
	background-color: #104E8B;
	padding: 0.5em;
	-moz-border-radius-bottomleft: 1.2em;
	-webkit-border-bottom-left-radius: 1.2em; 
	border-bottom-left-radius: 1.2em;
	-moz-border-radius-bottomright: 1.2em; 
	-webkit-border-bottom-right-radius: 1.2em; 
	border-bottom-right-radius: 1.2em;
}

#sb-header-left {
	float: left;
}

#sb-header-right {
	font-size: 1.1em;
	font-weight: bold;
	float: right;
	height: 100%;
}

#sb-header-right > div {
	display: table-cell;
	vertical-align: middle;
}

header .sb-toolbar {
	float: right;
	bottom: 0em;	
	margin-right: 3em;
}

header a {
	color: #B9D3EE;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

header a:visited {
	color: #B9D3EE;
}

.sb-title {
	display: table-row;
}

.sb-title-image {
	display: table-cell;
	width: 32px;
	height: 32px;
	background-image: url(../images/monkey-32x32.png);
	background-repeat:no-repeat;
}

.sb-title-text {
	font-size: 2em;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	padding-left: 0.3em;
}

#sb-content {
	overflow: auto;
	background-color: #fff;
	padding: 0.5em;
	margin-top: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em; 
	border-top-left-radius: 1em;
	-moz-border-radius-topright: 1em; 
	-webkit-border-top-right-radius: 1em; 
	border-top-right-radius: 1em;
}

#sb-footer {
	font-size: 14px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

/* Login window */

#sb-login {
	display: none;
}

#sb-login .sb-login-label {
	float: left;
	width: 5em;
	margin-right: 0.5em;
	display: block
}

#sb-login .sb-login-error {
	color: red;
	font-weight: bold;
}

/* Soundboard */

#sounds .ui-button {
}

/* Events */

.vsplitbar {
	width: 5px;
	background: #aaa;
}
